.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(250, 250, 250, 0.7);
    }

    100% {
        box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
    }
}


#whoweare::before {
    background: #1a76d1;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
}